<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Administradores</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-3" style="float: right;">
                <div class="input-group"><input type="text" placeholder="CPF" class="input-sm form-control"> <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-primary">Pesquisar</button> </span></div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>

                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Login</th>
                    <th>E-mail</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="admin in vm.administradores">
                        <td>{{admin.cpf}}</td>
                        <td>{{admin.nome}}</td>
                        <td>{{admin.login}}</td>
                        <td>{{admin.email}}</td>
                        </tr>
                </tbody>
            </table>
            <div class="hr-line-dashed"></div>
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-white" type="submit" ng-click="vm.goToAddAdmin()">Adicionar</button>
            </div> 
        </div>
    </div> 
</div>